.film__container {
    height: 10rem;
    min-width: 15rem;
    background-color: green;
    border-radius: 10px;
    margin: 0 .3rem;
    text-align: center;
    color: white;
    transition-property: transform;
    transition-duration: .5s;
    border: 1px solid black;

    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}