@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

.navbar {
    position: fixed;
    width: 100%;
    height: 70px;
    background: linear-gradient(to top, rgba(18, 18, 17, 0), rgba(18, 18, 17, 1));
    transition-property: background-color;
    transition-duration: 0.5s;
    font-family: "Roboto", sans-serif;
    color: #e50914;
    padding: 0 3rem;

    .navbar__left {
        display: flex;
        height: 100%;

        .navbar__title{
            margin: auto 0;
        }
    }

}
